:root {
  --font-family: 'Inter', sans-serif;
  --text-color: #101828;
  --primary-color: #0e9a62;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 500;
  color: var(--text-color);
  font-style: normal;
  text-rendering: optimizeSpeed;
}

body {
  font-size: 13px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #e9eaeb #fff;
}

// Reset css
.p-toast {
  width: unset !important;

  & .p-toast-message-success,
  & .p-toast-message-error {
    background: unset !important;
    border-width: 0 !important;
  }
}
.p-checkbox-checked .p-checkbox-box {
  background: #0e9a62 !important;
  border-color: #0e9a62 !important;
}

.p-treeselect-overlay .p-tree {
  padding: 4px 0 !important;
}
.p-treeselect-overlay {
  border-radius: 8px !important;
  border: 1px solid #d5d7da !important;
}
.p-treeselect-label {
  padding: 3px 4px !important;
}
.p-treeselect-label-container,
.p-treeselect-label {
  height: 100% !important;
}
.p-tree-root-children {
  padding-block-start: 0 !important;
}
