:root {
  --font-family: 'Inter', sans-serif;
  --text-color: #101828;
  --primary-color: #0e9a62;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 500;
  color: var(--text-color);
  font-style: normal;
  text-rendering: optimizeSpeed;
}

body {
  font-size: 13px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #e9eaeb #fff;
}

//
.ms-table__icon_nodata {
  display: inline-block;
  background-image: url(https://testcdnamisapp.misacdn.net/apps/payroll/static/img/EmptyState-hFasANEP.svg);
  background-repeat: no-repeat;
  width: 195px;
  height: 133px;
  background-position: -152px -3046px;
}

// Reset css
.p-toast {
  width: unset !important;

  & .p-toast-message-success,
  & .p-toast-message-error {
    background: unset !important;
    border-width: 0 !important;
  }
}
.p-checkbox-checked .p-checkbox-box {
  background: #0e9a62 !important;
  border-color: #0e9a62 !important;
}

.p-treeselect-overlay .p-tree {
  padding: 4px 0 !important;
}
.p-treeselect-overlay {
  border-radius: 8px !important;
  border: 1px solid #d5d7da !important;
}
.p-treeselect-label {
  padding: 3px 4px !important;
}
.p-treeselect-label-container,
.p-treeselect-label {
  height: 100% !important;
}
.p-tree-root-children,
.p-tree-node-children {
  padding: 0 !important;
  margin: 0 !important;
}

@for $i from 1 through 10 {
  .p-tree-node[aria-level='#{$i}'] > .p-tree-node-content {
    padding-left: calc(0.5rem + (#{$i} - 1) * 1.5rem) !important;
    border-radius: 0 !important;
    height: 32px;

    &:hover {
      background-color: #e9eaeb !important;
    }

    &:has(.p-checkbox-checked) {
      background-color: #edfcf4 !important;
    }

    &:has(.p-checkbox-checked):hover {
      background-color: #cdeadf !important;
    }

    & .p-checkbox,
    & .p-checkbox-box {
      width: 16px !important;
      height: 16px !important;
    }

    & .p-checkbox-icon {
      width: 10px !important;
      height: 10px !important;
    }
  }
}
.p-tree-node-toggle-button {
  width: 16px !important;
  height: 20px !important;
  margin-right: 5px !important;

  &:hover {
    background-color: unset !important;
  }
}
.p-tree-node:focus-visible > .p-tree-node-content {
  box-shadow: none !important;
  outline: none !important;
  outline-offset: 0px !important;
}

.p-menu-list {
  padding: 8px 0 !important;
}
.p-menu {
  border-radius: 8px !important;
  min-width: 160px !important;
}
.p-menu-submenu-label {
  display: none !important;
}
.p-tooltip-text {
  background-color: #414651 !important;
  color: white !important;
  border-radius: 8px !important;
  font-weight: 400 !important;
}
.p-select.p-disabled .p-select-label {
  color: #101828 !important;
}
