:root {
  --font-family: 'Inter', sans-serif;
  --text-color: #101828;
  --primary-color: #0e9a62;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 500;
  color: var(--text-color);
  font-style: normal;
  text-rendering: optimizeSpeed;
}

body {
  font-size: 13px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #e9eaeb #fff;
}

// Reset css
.p-toast {
  width: unset !important;

  & .p-toast-message-success,
  & .p-toast-message-error {
    background: unset !important;
    border-width: 0 !important;
  }
}
